
a{
	color: #FFFFFF;
}
body{

	font-family: 'Lato', sans-serif;
}

img{
	max-width: 100%;

}

nav{
	background-color:  #892A2F;
}


.alinear-arriba{
	vertical-align: top;
}



.divMarginTop
{
	margin-top: 3em;
}

.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;

}


.imagen-redonda{
	border: 5px solid  #892A2F;;
	border-radius: 50%;
}

.imagen-esquina{
	border-radius: 20% 30% 20% 30%;
}

.quitar-float{
	float: none;
}

.espacio-arriba
{
	margin-top: 100px;
}

.espacio-derecha{
	margin-right: 1em;
}



.mediano{

	font-size: 1.5em;
}

.MenuFixed{
	position: fixed;
	left:0;
	right: 0;
	top: 0;
}

.Pacifico{
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Sigmar One', cursive;
	
}

.padding-largo
{
	padding: 5px 18px;
}

.grande
{
	font-size: 3em;
}

.vino{

	color: #78121C;
}


.vino-claro{
	color: #892A2F;
}



.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li {
	list-style: none;
}


.retraso-.5{
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	animation-delay: .5s;
}


.retraso-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}




.retraso-2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}